body {
	color: #303942;
  cursor: default;
	font-family: 'DejaVu Sans', Arial, sans-serif; font-size: 75%;
	margin: 0 20px;
}

p {
  line-height: 1.8em;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1;
}

h1 {
	border-bottom: 1px solid #eee;
  font-size: 1.5em;
	margin: 0;
	padding: 21px 0 13px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.4em;
}

h3 {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

a {
  color: rgb(17, 85, 204);
  text-decoration: underline;
}

a:active {
  color: rgb(5, 37, 119);
}

#options-saved {
	display: none;
	-webkit-animation: fadeout 2s;
}

#about {
	border-top: 1px solid #eee;
	margin-top: 21px;
}

	#about img {
		vertical-align: middle;
	}

	#about button {
		line-height: 30px;
	}

@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}