body {
	background: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	margin: 0;
	min-width: 200px;
	padding: 15px;
}

a:focus {
	outline: 0;
}

img {
	display: inline-block;
	height: 16px;
	margin-right: 8px;
	vertical-align: top;
	width: 16px;
}

.detected-app {
	padding: 7px 0;
}

.detected-app:first-child {
	padding-top: 0;
}

.detected-app:last-child {
	border: none;
	padding-bottom: 0;
}

	.detected-app a {
		color: #000;
		display: block;
		text-decoration: none;
	}

	.detected-app a .label .name {
		border-bottom: 1px dotted #999;
	}

	.detected-app a:hover .label .name {
		border-bottom: 1px solid #333;
	}

	.detected-app a .category .name {
		border-bottom: 1px solid transparent;
	}

	.detected-app a:hover .category .name {
		border-bottom: 1px solid #999;
	}

.label {
	font-weight: bold;
}

.category {
	color: #999;
	display: block;
	margin: 5px 0 0 24px;
}

.empty {
	color: #999;
	font-style: italic;
	text-align: center;
}

#footer {
	border-top: 1px solid #ccc;
	margin-top: 17px;
	overflow: hidden;
	padding-top: 11px;
}

#footer a {
	color: #999;
	text-decoration: none;
}

#footer a:hover {
	color: #333;
}

#options {
	float: right;
}
