include README
include INSTALL
include TODO
include VERSION

recursive-include wapitiCore/config *
recursive-include wapitiCore/language_sources *
recursive-include wapitiCore/report_template *
recursive-include doc *
