div#wappalyzer-container * {
	background-color: transparent !important;
	border: none !important;
	border-left: none !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-spacing: 0 !important;
	color: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
	font-family: inherit !important;
	font-style: inherit !important;
	line-height: inherit !important;
	list-style: none inside !important;
	margin: 0 !important;
	outline: none !important;
	padding: 0 !important;
	text-align: inherit !important;
	text-decoration: none !important;
	white-space: inherit !important;
}

#wappalyzer-container {
	background: #fff !important;
	border: 1px solid #999;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2) !important;
	color: #222 !important;
	font-family: Arial, sans-serif !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
	margin: 0 !important;
	position: fixed !important;
	text-align: left !important;
	right: 20px !important;
	top: 20px !important;
	width: 250px !important;
	z-index: 99999 !important;
}

	#wappalyzer-container #wappalyzer-pending {
		background-repeat: no-repeat !important;
		background-position: center center !important;
		height: 60px !important;
	}

	#wappalyzer-container a#wappalyzer-close:link,
	#wappalyzer-container a#wappalyzer-close:hover,
	#wappalyzer-container a#wappalyzer-close:active,
	#wappalyzer-container a#wappalyzer-close:visited {
		background: #f8f8f8 !important;
		border-bottom: 1px solid #ccc !important;
		display: block !important;
		font-weight: bold !important;
		line-height: 30px !important;
		text-align: center !important;
	}

	#wappalyzer-container #wappalyzer-close:hover {
		background: #f4f4f4 !important;
		color: #0072B6 !important;
	}

	#wappalyzer-container #wappalyzer-empty {
		border-bottom: 1px solid #ccc !important;
		color: #999 !important;
		display: block !important;
		line-height: 30px !important;
		text-align: center !important;
	}

	#wappalyzer-container #wappalyzer-apps {
		padding-top: 2px !important;
	}

		#wappalyzer-container #wappalyzer-apps img {
			vertical-align: middle !important;
		}

		#wappalyzer-container #wappalyzer-apps a:link,
		#wappalyzer-container #wappalyzer-apps a:hover,
		#wappalyzer-container #wappalyzer-apps a:active,
		#wappalyzer-container #wappalyzer-apps a:visited {
			display: block !important;
			text-decoration: none !important;
		}

		#wappalyzer-container #wappalyzer-apps a:hover {
			color: #0072B6 !important;
		}

		#wappalyzer-container #wappalyzer-apps div.wappalyzer-app {
			background: #fff !important;
			border-radius:         5px !important;
			-moz-border-radius:    5px !important;
			-webkit-border-radius: 5px !important;
			margin: 0 2px 2px 2px !important;
			padding: 7px 10px !important;
		}

		#wappalyzer-container #wappalyzer-apps a.wappalyzer-application:link,
		#wappalyzer-container #wappalyzer-apps a.wappalyzer-application:hover,
		#wappalyzer-container #wappalyzer-apps a.wappalyzer-application:active,
		#wappalyzer-container #wappalyzer-apps a.wappalyzer-application:visited {
			font-weight: bold !important;
			margin-bottom: 3px !important;
		}

		#wappalyzer-container #wappalyzer-apps a.wappalyzer-category:link,
		#wappalyzer-container #wappalyzer-apps a.wappalyzer-category:hover,
		#wappalyzer-container #wappalyzer-apps a.wappalyzer-category:active,
		#wappalyzer-container #wappalyzer-apps a.wappalyzer-category:visited {
			color: #999 !important;
		}

		#wappalyzer-container #wappalyzer-apps a.wappalyzer-category:hover {
			color: #0072B6 !important;
		}
